body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1f1f1f;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url(./fonts/SpaceGrotesk-Bold.ttf);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.milliseconds {
  font-size: 2rem;
}

p > .milliseconds {
  font-size: medium;
}

.minutes,
.seconds,
.milliseconds {
  display: inline-block;
  width: 2ch;
}

p {
  color: white;
  font-family: "SpaceGrotesk";
  font-size: medium;
}

button {
  padding: 0.5em;
  width: 7rem;
  border-radius: 1em;
  border-style: none;
  font-family: "SpaceGrotesk";
  margin: 0.5em;
}

.time-container {
  margin-top: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.functions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.laps-container {
  overflow-y: auto;
}

.Time {
  font-family: SpaceGrotesk;
  font-weight: 600px;
  font-size: 6rem;
  color: white;
}
